@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif; 
}
.bg-image{
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container{
  max-width: 450px;
}
.bg-form {
  background: rgba(20, 20, 20, 0.96);
  border-radius: 5px;
}
.my-input{
  background: rgba(217, 217, 217, 0.25);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.11);
backdrop-filter: blur(6.5px);
}
.form-check-label {
  color: rgba(255, 255, 255, 1)
}
.text-bold {
  color: rgba(255, 159, 86, 1);
}
.btn {
  background: linear-gradient(180deg, #C95803 0%, #B34D00 100%);
border: 1px solid rgba(255, 255, 255, 0.45);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.11);
}
.btn:hover{
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  background-color: #B34D00;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
.btn:focus {
  color: #fff;
  text-shadow: #262e31 -1px 1px, #262e31 1px 1px, #262e31 1px -1px, #262e31 -1px -1px;
  transition: .1s;
}

.btn:active {
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(218, 218, 5, 0.534);
}
.nav-link:hover {
  color: #e7d10d;
  box-shadow: 1px 1px 1px 1px #B34D00;
}

.nav-link:active {
  color: rgb(255, 251, 0);
  
  text-shadow: -1px 1px 5px rgba(239, 255, 12, 0.301), 1px -1px 5px rgba(238, 255, 3, 0.699); 
  top: 5px;
}


@media screen and (max-width:768px) {
  .bg-form {
    height: 100vh!important;
  }
}
